<div id="header">
        <p style="float: left; width: 34%; text-align: left;">VIDHI JATIN SHAH</p>
    <h1 style="float: left; width: 33%; text-align: center;">LAB 2-Activity 2 Queries</h1>
    <p style="float: left; width: 33%; text-align: right;">UBPerson No:50207090</p>
</div>

1. Imports all the important libraries
  * RSQLite<-Working with SQL database
  * dplyr<-Working with SQL database
  * sqldf<-to use sql statements on dataframe 
  * plyr<-Use for combining two dataframes

In [1]:
library("RSQLite")
library("dplyr")
library("sqldf")
library(plyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'sqldf' was built under R version 3.3.3"Loading required package: gsubfn
Loading required package: proto
Could not load tcltk.  Will use slower R code instead.
------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: 'plyr'

The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

* Read the Player csv file created earlier

In [2]:
NewPlayers<- (read.csv(file="Player.csv",head=TRUE,sep=","))

<b>Question 1: Which are the top 10 players by overall rating?</b>
* Select player_api_id,player_name and overall_rating columns from Player table and sort it in the descending order of overall_rating.
* order by is used to sort.
* LIMIT 10 prints only the top 10 results.

In [3]:
sqldf("Select player_api_id,player_name,overall_rating from NewPlayers order by overall_rating DESC LIMIT 10")

Warning message:
"Quoted identifiers should have class SQL, use DBI::SQL() if the caller performs the quoting."

   player_api_id player_name       overall_rating
1  30981         Lionel Messi      94
2  30717         Gianluigi Buffon  93
3  30829         Wayne Rooney      93
4  30893         Cristiano Ronaldo 93
5  39854         Xavi Hernandez    92
6  39989         Gregory Coupet    92
7  30626         Thierry Henry     91
8  30627         John Terry        91
9  30657         Iker Casillas     91
10 30723         Alessandro Nesta  91

<b>Question 2: Which are the top 10 goalkeepers by sum of gk attributes?</b>
* Select player_api_id,player_name and gk columns from Player table and sort it in the descending order of gk attributes.
* order by is used to sort.
* LIMIT 10 prints only the top 10 results.

In [12]:
sqldf("Select player_api_id,player_name,gk from NewPlayers order by gk DESC LIMIT 10")

   player_api_id player_name       gk
1   30717        Gianluigi Buffon  449
2   39989        Gregory Coupet    447
3   30859        Petr Cech         445
4   30657        Iker Casillas     442
5   27299        Manuel Neuer      440
6   30989        Julio Cesar       438
7   24503        Sebastian Frey    437
8   30726        Edwin van der Sar 436
9  182917        David De Gea      429
10  30660        Pepe Reina        428

<b>Question 3: Which are the top 10 players by number of appearances (with any team they played with)?</b>
* Select player_api_id,player_name and appearances columns from Player table and sort it in the descending order of number of appearances each player made.
* order by is used to sort.
* LIMIT 10 prints only the top 10 results.

In [5]:
sqldf("Select player_api_id,player_name,appearances from NewPlayers order by appearances DESC LIMIT 10")

   player_api_id player_name          appearances
1  31293         Steve Mandanda       300
2  41097         Stephane Ruffier     294
3  33764         Gorka Iraizoz Moreno 286
4  42422         Samir Handanovic     286
5  26295         Hugo Lloris          282
6  31465         Tim Howard           282
7  31432         Joe Hart             275
8  26168         Cedric Carrasso      268
9  26399         Daniel Congre        262
10 94550         Moussa Sissoko       260

<b>Question 4: Which are the top 10 players by number of leagues they played in?</b>
* Select player_api_id,player_name and league_count columns from Player table and sort it in the descending order of total number of distinct leagues each player has played.
* order by is used to sort.
* LIMIT 10 prints only the top 10 results.

In [6]:
sqldf("Select player_api_id,player_name,league_count from NewPlayers order by league_count DESC LIMIT 10")

   player_api_id player_name           league_count
1   42119        Gelson Fernandes      6
2  116750        Ricky van Wolfswinkel 5
3  178538        Filip Djuricic        5
4   22543        Radamel Falcao        4
5   24123        Jonathan De Guzman    4
6   25816        Almen Abdi            4
7   26434        Ibrahim Afellay       4
8   26489        Edson Braafheid       4
9   26675        Eljero Elia           4
10  30477        Danijel Pranjic       4

* Read the Team csv file created earlier

In [7]:
NewTeams<- (read.csv(file="team.csv",head=TRUE,sep=","))

<b>Question 5: Which are the top 10 teams by sum of build up play attributes?</b>
* Select team_api_id,team_short_name,buildUpPlay columns from Team table and sort it in the descending order of buildUpPlay attributes.
* order by is used to sort the data on given column.
* LIMIT 10 prints only the top 10 results.

In [8]:
sqldf("Select team_api_id,team_short_name,buildUpPlay from NewTeams order by buildUpPlay DESC LIMIT 10")

   team_api_id team_short_name buildUpPlay
1    9804      TOR             209
2    8600      UDI             205
3    8194      FDU             198
4    8033      POD             193
5    8245      KKI             192
6    8024      WID             190
7    8244      LOD             190
8  208931      CAP             190
9    9830      NAN             189
10   7943      SAS             188

<b>Question 6: Which are the top 10 teams by sum of chance creation attributes?</b>
* Select team_api_id,team_short_name,chanceCreation columns from Team table and sort it in the descending order of chanceCreation attributes.
* order by is used to sort the data on given column.
* LIMIT 10 prints only the top 10 results.

In [9]:
sqldf("Select team_api_id,team_short_name,chanceCreation from NewTeams order by chanceCreation DESC LIMIT 10")

   team_api_id team_short_name chanceCreation
1  8543        LAZ             220
2  8697        WBR             216
3  9875        NAP             215
4  8178        LEV             210
5  8191        BUR             210
6  8344        CAR             210
7  8456        MCI             210
8  8485        ABE             210
9  8548        RAN             210
10 8586        TOT             210

<b>Question 7: Which are the top 10 teams by sum of defense attributes?</b>
* Select team_api_id,team_short_name,defence columns from Team table and sort it in the descending order of defence attributes.
* order by is used to sort the data on given column.
* LIMIT 10 prints only the top 10 results.

In [10]:
sqldf("Select team_api_id,team_short_name,defence from NewTeams order by defence DESC LIMIT 10")

   team_api_id team_short_name defence
1  1957        BIA             210
2  7794        BAS             210
3  8021        ZAG             210
4  8197        LEI             210
5  8344        CAR             210
6  8350        KAI             210
7  8466        SOU             210
8  8481        NAN             210
9  8483        BLA             210
10 8521        BRE             210

<b>Question 8: Which are the top 10 teams by number of scored goals?</b>
* Select team_api_id,team_short_name,number_of_goals columns from Team table and sort it in the descending order of number of goals scored by each team.
* order by is used to sort the data on given column.
* LIMIT 10 prints only the top 10 results.

In [11]:
sqldf("Select team_api_id,team_short_name,number_of_goals from NewTeams order by number_of_goals DESC LIMIT 10")

   team_api_id team_short_name number_of_goals
1   8634       BAR             849
2   8633       REA             843
3   9925       CEL             695
4   9823       BMU             653
5   8640       PSV             652
6   8593       AJA             647
7   9931       BAS             619
8   8456       MCI             606
9   8455       CHE             583
10 10260       MUN             582